.app__container{
    width: 402px;
    height: 518px;
    background: whitesmoke;
    display: flex;
    align-items: center;
    flex-direction: column;
    
}

.app__logo{
margin-top: 48px;
}

.app__title{
    margin-top: 24px;
    font-size: 24px;
    
}

.app__description{
    margin-top: 16px;
    font-size: 14px;
    line-height: 20px;
}

.button{
    width: 306px;
    height: 50px;
    border-radius: 6px;
    background: #635DFF;
}

.socials__item{
    display: flex;
    
}